/* General CSS */
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background:black;
  color:white;
}
.flex{
  display: flex;
}
.hover:hover{
  cursor:pointer;
}
.link{
  text-decoration: none;
  color:inherit;
}
/* General CSS */

/* Navigation CSS */
.header{
  height:70px;
width:100%;
background:#141414;
justify-content:space-between;
}
ul{
 list-style:none;
}
ul li{
  display:inline;
  padding:0px 9px;
  font-size:14px
}
.nav{
  justify-content: space-between;
}

.header img{
  height:70px
}

.nav-icons{
  font-size:25px;
  margin:0px 13px
}
.searchbox{
  padding:10px 7px;
  width:300px;
  border:none;
  border-radius:5px;
  background:black;
  color:white
}
.searchbox:focus{
  outline:none
}
/* Navigation CSS */

/* Shows CSS */
.shows{
  width:93%;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
}
.show-cards{
  display:flex;
  flex-wrap: wrap;
}
.show-card{
  position:relative;
  margin:5px 5px;
  transition: transform .2s;
}
.shows-category{
  padding-bottom:10px
}
.show-info{
  display: flex;
  background:rgba(0, 0, 0, 0.8);
  opacity:0.4;
  position: absolute;
  bottom: 0;
  padding:10px;
  flex-direction: column;
  opacity: 0;
}
.show-card:hover .show-info{
  opacity: 1;
}
.btn-play{
  color:red; 
  font-size:15px
}
.match{
  color:#45d600;
  font-weight:600
}
.bio{
  font-size:11px
}
.show-card:hover {
  -ms-transform: scale(1.04); /* IE 9 */
  -webkit-transform: scale(1.04); /* Safari 3-8 */
  transform: scale(1.2); 
  z-index: 1;
  cursor: pointer;
}
.show-card:hover + .show-info {
  display: none;
}
/* Shows CSS */

/* Banner CSS */
.banner{
  width:100%;
}
.feature-info{
  padding:20px 40px;
  width:50%
}
.banner-title{
  width:70%
}
.banner-desc{
  padding-top:20px
}
.feature-image{
  width:50%
}
.feature-image img{
  width:100%;
}
.btn-banner{
  padding:7px 17px;
  border:none;
  border-radius:5px;
  background:grey;
  color:white;
  margin-right:10px;
  margin-top:20px
}
.btn-icon{
  margin-right:5px
}
/* Banner CSS */
/* Search CSS */
.search-container{
  margin:10px 10px
}
/* Search CSS */


/* Show Details Css */
.show-details{
  width:93%;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
}
.show-details span{
  color:grey;
}
.details-info{
width:60%;
padding:0px 30px
}

.details-image{
  width:40%;
}
.details-image img{
  width:100%;
  padding:0px 20px;
}
.details-heading{
  justify-content: space-between;
}
.details-heading, .details-heading div{
  align-items:center;
}
.star{
  color:gold;
  font-size: 23px;
  margin-right: 7px;
}
.show-information{
  margin-top:25px
}
.more-info{
  margin-top:25px
}
/* Show Details Css */
/* Footer CSS */
.footer{
  background:#141414;
  text-align: center;
  padding:15px;
  color: grey;

}
/* Footer CSS */

.spinner{
 text-align: center;
 font-size:25px;
  color:red;
 margin:auto;animation: mymove 2s infinite;
}@keyframes mymove {
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}